In [1]:
# mentioning the name of the person
a = 'john'
print(a)

john

In [2]:
sum = 123 +\
    456 +\
    789
print(f'sum: {sum}')

sum: 1368

In [7]:
a = 10
b = 5
c = 20
if a > 1 or b > 0 or c > 0:
    print(f'a: {a}')
    print(b)
    print(c)

a: 10
5
20

In [8]:
if True:
    print(f'we"re inside block')

we"re inside block

In [5]:
if True:
    print(f'we're inside the block)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3358620256.py, line 2)

In [19]:
a = set(5, 2, 3, 1, 4)
print(f'a: {a}, type(a): {type(a)}')

TypeError: set expected at most 1 argument, got 5

In [10]:
char_list = ['a', 'b', 'c', 'd']
print(f'char_list[0] before modifying: {char_list[0]}')

char_list[0] before modifying: a

In [14]:
string = 'abcd'
print(f'string before: {string}')

string = 'ebcd'
print(f'string after: {string}')

string before: abcd
string after: ebcd

In [16]:
t = (1, 2, 3)
print(f'printing tuple t: {t}')

printing tuple t: (1, 2, 3)

In [18]:
a = {5, 2, 3, 1, 4}
print(f'a: {a}, type(a): {type(a)}')

a: {1, 2, 3, 4, 5}, type(a): <class 'set'>

In [20]:
student_scores = {'Alice': 85, 'Bob': 80, 'Charlie': 92, 'David': 70}
student_scores['Alice']

85

In [23]:
student_scores = {'Alice': 85, 'Bob': 80, 'Charlie': 92, 'David': 70}
student_scores['Alice']

for k, v in student_scores.items():
    if v == 85:
        print(f'student name: {k}')

student name: Alice

In [24]:
num = 1,00,000
type(num)

tuple

In [25]:
num = 1,00,000
print(num)

(1, 0, 0)

In [26]:
1_00_000

100000