In [1]:
# mentioning the name of the person
a = 'john'
print(a)

john

In [2]:
sum = 123 +\
    456 +\
    789
print(f'sum: {sum}')

sum: 1368

In [7]:
a = 10
b = 5
c = 20
if a > 1 or b > 0 or c > 0:
    print(f'a: {a}')
    print(b)
    print(c)

a: 10
5
20

In [8]:
if True:
    print(f'we"re inside block')

we"re inside block

In [5]:
if True:
    print(f'we're inside the block)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3358620256.py, line 2)

In [19]:
a = set(5, 2, 3, 1, 4)
print(f'a: {a}, type(a): {type(a)}')

TypeError: set expected at most 1 argument, got 5

In [10]:
char_list = ['a', 'b', 'c', 'd']
print(f'char_list[0] before modifying: {char_list[0]}')

char_list[0] before modifying: a

In [14]:
string = 'abcd'
print(f'string before: {string}')

string = 'ebcd'
print(f'string after: {string}')

string before: abcd
string after: ebcd

In [16]:
t = (1, 2, 3)
print(f'printing tuple t: {t}')

printing tuple t: (1, 2, 3)

In [18]:
a = {5, 2, 3, 1, 4}
print(f'a: {a}, type(a): {type(a)}')

a: {1, 2, 3, 4, 5}, type(a): <class 'set'>

In [20]:
student_scores = {'Alice': 85, 'Bob': 80, 'Charlie': 92, 'David': 70}
student_scores['Alice']

85

In [23]:
student_scores = {'Alice': 85, 'Bob': 80, 'Charlie': 92, 'David': 70}
student_scores['Alice']

for k, v in student_scores.items():
    if v == 85:
        print(f'student name: {k}')

student name: Alice

In [24]:
num = 1,00,000
type(num)

tuple

In [25]:
num = 1,00,000
print(num)

(1, 0, 0)

In [26]:
1_00_000

100000

In [27]:
s1 = 'a'
s2 = 'b'
s3 = s1 + s2
s3

'ab'

In [28]:
s = """This is a
very lllong stringgggggggggggg
!!!!!!!!!!!!!
"""
s

'This is a\nvery lllong stringgggggggggggg\n!!!!!!!!!!!!!\n'

In [30]:
a = 1, 2, 3
a.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
b = 1, 2, 3
b.add(4)

AttributeError: 'tuple' object has no attribute 'add'

In [34]:
st = {1, 2, 3}
# st.append(4)
st.add(4)
st

{1, 2, 3, 4}

In [39]:
# hashing integers

hash_value1 = hash(42)
hash_value2 = hash('Hello, World!')
print(f'hash_value1: {hash_value1}')
print(f'hash_value2: {hash_value2}')

hash_value1: 42
hash_value2: 3495319088990182631

Homework

In [55]:
# maximum

def find_maximum(lst):
    if len(lst) == 0:
        return 0

    max_num = array[0]
    for num in array:
        if num > max_num:
            max_num = num

    return max_num

array = [20, 30, 25]
array = []
maximum_number = find_maximum(array)
print(f'maximum of three numbers: {maximum_number}')

maximum of three numbers: 0

In [3]:
# maximum

def find_maximum(lst):
    max_num = array[0]
    for num in array:
        if num > max_num:
            max_num = num

    return max_num

array = ['20', '30', '25']
maximum_number = find_maximum(array)
print(f'maximum of three numbers: {maximum_number}')

maximum of three numbers: 30

In [53]:
a = []
print(f'a == []: {a == []}')  # only looks at the contents, doesn't consider address in memory
print(f'a is []: {a is []}')  # same address in memory

a == []: True
a is []: False

In [1]:
# whether a number is in a given range

# range: 10 to 20
# number = 5

my_range = range(-20, -10)
print(f'my_range values: {list(my_range)}')
number = -15
# my_range = range(10, 20)
# number = 15

if number in my_range:
    print('number in range')
else:
    print('number is not in range')

my_range values: [-20, -19, -18, -17, -16, -15, -14, -13, -12, -11]
number in range

In [2]:
# whether a number in a given range

def number_in_range(given_range, number):
    print(f'numbers in range: {list(given_range)}')
    if number in given_range:
        return True
    return False

my_range1 = [-20, -10]
number1 = -15
in_range1 = number_in_range(my_range1, number1)
print(f'in_range1: {in_range1}')

numbers in range: [-20, -10]
in_range1: False

In [11]:
# whether a number in a given range

def number_in_range(given_range, number):
    # print(f'numbers in range: {list(given_range)}')
    print(f'numbers in range: {list(given_range)}')
    if number in given_range:
        return True
    return False

my_range1 = range(-20, -10)
number1 = -15
in_range1 = number_in_range(my_range1, number1)
print(f'in_range1: {in_range1}')

numbers in range: [-20, -19, -18, -17, -16, -15, -14, -13, -12, -11]
in_range1: True

In [33]:
# whether a number in a given range - main algorithm

def number_in_range(given_range, number):
    return number in given_range

my_range1 = range(-10, 10)
number1 = -5
in_range1 = number_in_range(my_range1, number1)
print(f'in_range1: {in_range1}')
my_range2 = range(-20, -10)
number2 = -15
in_range2 = number_in_range(my_range2, number2)
print(f'in range2: {in_range2}')
my_range3 = range(10, 40)
number3 = 30
in_range3 = number_in_range(my_range3, number3)
print(f'in range3: {in_range3}')
my_range4 = range(10, 40)
number4 = 0
in_range4 = number_in_range(my_range4, number4)
print(f'in_range4: {in_range4}')

in_range1: True
in range2: True
in range3: True
in_range4: False

In [46]:
string = 'abc'
print(type(string))

<class 'str'>

In [48]:
2 in range(10)
2.5 in range(10)

False

In [50]:
# whether a number in a given range

def number_in_range(number, xmin, xmax):
    return xmin <= number <= xmax

xmin1 = -10
xmax1 = 10
number1 = -5
in_range1 = number_in_range(number1, xmin1, xmax1)
print(f'in_range1: {in_range1}')
xmin2 = 40
xmax2 = 10
number2 = 5
in_range2 = number in range(number2, xmin2, xmax2)
print(f'in_range2: {in_range2}')

in_range1: True
in_range2: False

In [40]:
arange = range(-20, -10)
print(f'arange as list: {list(arange)}')
reversed_range = reversed(arange)
print(f'reversed range as list: {list(reversed_range)}')

arange as list: [-20, -19, -18, -17, -16, -15, -14, -13, -12, -11]
reversed range as list: [-11, -12, -13, -14, -15, -16, -17, -18, -19, -20]

In [52]:
print(range(10, 0))
print(list(range(10, 0)))

range(10, 0)
[]

In [56]:
a = [10, 20, 30, 40, 50]
sum = a[0]

for i in range(len(a)):
    sum += i
    print(sum)

10
11
13
16
20

In [58]:
a = [10, 20, 30, 40, 50]
sum = a[0]
print(f'before loop: {sum}')
for i in range(len(a)):
    sum += a[i]
    print(sum)

before loop: 10
20
40
70
110
160

In [59]:
a = [10, 20, 30, 40, 50]
sum = a[0]
print(f'before loop: {sum}')
for i in range(1, len(a)):
    sum += a[i]
    print(sum)

before loop: 10
30
60
100
150

In [60]:
digits = [1, 0, 5]

for digit in digits:
    print(digit)
else:
    print('no digits left')

1
0
5
no digits left

In [62]:
#      0  1  2  3  4   5   6   7   8   9
arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]

# find range: i1 and i2 with elements 7 < x < 20

for i in range(len(arr)):
    print(arr[i])
    if arr[i] > 6:
        i1 = i

print(f'i1: {i1}')

2
5
6
9
10
15
18
19
23
24
i1: 9

In [100]:
#      0  1  2  3  4   5   6   7   8   9
arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]

# find range: i1 and i2 with elements 7 < x < 20

i1 = -1
for i in range(len(arr)):
    print(i)
    if arr[i] <= 6:
        continue
    i1 = i
    break

print(f'i1: {i1}')

0
1
2
3
i1: 3

In [84]:
#      0  1  2  3  4   5   6   7   8   9
arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]

# find range: i1 and i2 with elements 7 < x < 20

for i1 in range(len(arr)):
    if arr[i1] <= 6:
        continue
    break

print(f'i1: {i1}')

i1: 3

In [64]:
#      0  1  2  3  4   5   6   7   8   9
arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]

# find range: i1 and i2 with elements 7 < x < 20

i1 = -1
for i in range(len(arr)):
    if arr[i] > 6:
        i1 = i
        break

print(f'i1: {i1}')

i1: 3

In [68]:
#      0  1  2  3  4   5   6   7   8   9
arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]

# find range: i1 and i2 with elements 7 < x < 20

i2 = -1
for i in range(len(arr)):
    if arr[i] > arr[i1]:
        continue
    i2 = i
    break

print(f'i2: {i2}')

arr[3]: 9
i2: 0

In [77]:
#      0  1  2  3  4   5   6   7   8   9
arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]

# find range: i1 and i2 with elements 7 < x < 20

i2 = -1
print(f'arr[{i1}]: {arr[i1]}')
for i in range(i1, len(arr)):
    print(f'i: {i}')
    if arr[i] >= 20:
        break
    i2 = i

print(f'i2: {i2}')

arr[3]: 9
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i2: 7

In [78]:
#      0  1  2  3  4   5   6   7   8   9
arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]

# find range: i1 and i2 with elements 7 < x < 20

i2 = -1
for i in range(i1, len(arr)):
    if arr[i] >= 20:
        break
    i2 = i

print(f'i2: {i2}')

i2: 7

In [85]:
#      0  1  2  3  4   5   6   7   8   9
arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]

# find range: i1 and i2 with elements 7 < x < 20

i1 = -1
for i in range(len(arr)):
    if arr[i] <= 6:
        continue
    i1 = i
    break

print(f'i1: {i1}')

i2 = -1
for i in range(i1, len(arr)):
    if arr[i] >= 20:
        break
    i2 = i

print(f'i2: {i2}')

i1: 3
i2: 7

Python quiz

In [98]:
def add(var1, var2):
    sum = var1, var2
    print(sum)

a = 3
b = 5
add(a, b)

8

In [99]:
#              stop   range always goes to stop-1
for i in range(3):
    print(i)

0
1
2

In [105]:
def find_area(length, width):
    area = length * width
    return area

length = 5
width = 2
find_area(length, width)

10

In [106]:
number = 3
square = number ** 2
print(square)

9

In [106]:
number = 3
square = number ** 2
print(square)

9

In [113]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
total = num1 + num2
total

Enter first number: 9
Enter second number: 10

19

In [33]:
var1 = 'a'
var2 = 'b'
print(f'var1 before: {var1}, var2 before: {var2}')
var1, var2 = var2, var1
print(f'var1 after: {var1}, var2 after: {var2}')

var1 before: a, var2 before: b
var1 after: b, var2 after: a

In [34]:
var1 = 'c'
var2 = 'd'

var_temp = var1
var1 = var2
var2 = var_temp
print(f'var1 after: {var1}, var2 after: {var2}')

var1 after: d, var2 after: c

In [6]:
# recursion factorial

def factorial(n):
    if n == 0:
        return 1
    
    return n * factorial(n - 1)

n = 4
fact = factorial(n)
print(fact)

24

In [30]:
# recursion factorial

def factorial(n):
    if n <= 0:
        return 1
    
    return n * factorial(n - 1)

n = 4
fact = factorial(n)
print(fact)

24

In [12]:
def max_min(lst):
    maximum = lst[0]
    minimum = lst[0]
    
    for num in lst:
        if num < minimum:
            minimum = num

    for number in lst:
        if number > maximum:
            maximum = number
    
    return maximum, minimum

arr = [2, 5, 6, 9, 10, 15, 18, 19, 23, 24]
maximum, minimum = max_min(arr)
print(f'max: {maximum}, min: {minimum}')

max: 24, min: 2

In [11]:
number = 5
square = number ** 2
print(square)

25

In [16]:
def find_sum_evens(n):
    sum_evens = 0
    for i in range(2, n):
        if i % 2 == 0:
            sum_evens += i
    
    return sum_evens

n = 10
find_sum_evens(n)

i: 2
sum: 2
i: 4
sum: 6
i: 6
sum: 12
i: 8
sum: 20

20

In [20]:
n = int(input('define number of stars: '))
for i in range(n):
    stars = i * '*'
    print(stars)

define number of stars: 5

*
**
***
****

In [23]:
n = int(input('provide a number: '))
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print(factorial)

provide a number: 5
120

In [2]:
# sum of digits in a given number
n = input('enter a number: ')
print(f'type(n): {type(n)}')
sum_digits = 0
i = 0
while i < len(n):
    print(f'i: {i}')
    sum_digits += i
    i += 1
print(sum_digits)

enter a number: 265
type(n): <class 'str'>
i: 0
i: 1
i: 2
3

In [29]:
# sum of digits in a given number
n = input('enter a whole number: ')
integers = []
for chr in n:
    chr_int = int(chr)
    integers.append(chr_int)

sum_digits = 0
i = 0
while i < len(integers):
    sum_digits += integers[i]
    i += 1
print(f'sum_digits: {sum_digits}')

enter a whole number: 265
sum_digits: 13

In [30]:
# sum of digits in a given number
n = input('enter a whole number: ')
integers = []
for chr in n:
    integers.append(int(chr))

sum_digits = 0
i = 0
while i < len(integers):
    sum_digits += integers[i]
    i += 1
print(f'sum_digits: {sum_digits}')

enter a whole number: 1987
sum_digits: 25

In [ ]:
# sum of digits in a given number - another way

In [15]:
given_number = 1987
print(f'given_number: {given_number // 10}')
print(f'given_number: {given_number % 10}')

res = given_number // 10
digit = given_number % 10
print(f'res: {res}, digit: {digit}')

given_number: 198
given_number: 7
res: 198, digit: 7

In [17]:
given_number = 1987

digits = 0
while given_number > 0:
    digit = given_number % 10
    res_number = given_number // 10
    given_number = res_number
    print(f'digit: {digit}')
    print(f'res_number: {res_number}')

digit: 7
res_number: 198
digit: 8
res_number: 19
digit: 9
res_number: 1
digit: 1
res_number: 0

In [18]:
given_number = 1987

sum_digits = 0
while given_number > 0:
    digit = given_number % 10
    res_number = given_number // 10
    given_number = res_number
    sum_digits += digit
    print(f'digit: {digit}')
    print(f'res_number: {res_number}')
print(digits)

digit: 7
res_number: 198
digit: 8
res_number: 19
digit: 9
res_number: 1
digit: 1
res_number: 0
25

In [21]:
given_number = 1987

sum_digits = 0
while given_number > 0:
    digit = given_number % 10
    given_number //= 10
    sum_digits += digit
    print(f'digit: {digit}')
    print(f'given_number: {given_number}')

print(f'sum_digits: {sum_digits}')

digit: 7
given_number: 198
digit: 8
given_number: 19
digit: 9
given_number: 1
digit: 1
given_number: 0
sum_digits: 25

In [24]:
def calc_sum_digits(given_number):
    sum_digits = 0
    while given_number > 0:
        digit = given_number % 10
        given_number //= 10
        sum_digits += digit

    return sum_digits

number = 762
calc_sum_digits(number)

15

In [35]:
def fibonacci(n):
    if n <= 1:
        return 1

    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(5)

8

In [33]:
def fibonacci_seq(n):
    fibonacci_seq = []
    for i in range(n):
        fibonacci_num = fibonacci(i)
        fibonacci_seq.append(fibonacci_num)
    return fibonacci_seq

def fibonacci(n):
    if n <= 1:
        return 1

    return fibonacci(n-1) + fibonacci(n-2)

fibonacci_seq(5)

[1, 1, 2, 3, 5]

In [35]:
def fibonacci(n):
    if n <= 1:
        return 1

    fib_dict = {0: 1, 1: 1}
    if fibonacci(n-1) in fib_dict:
        pass
    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(5)

8

In [31]:
def fibonacci(n):
    if n <= 1:
        return 1

    fib_dict = {0: 1, 1: 1}
    if fibonacci(n-1) in fib_dict:
        pass
    else:
        fib_dict[n] = fibonacci(n-1) + fibonacci(n-2)
    print(f'fib_dict: {fib_dict}')
    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(3)

fib_dict: {0: 1, 1: 1}
fib_dict: {0: 1, 1: 1}
fib_dict: {0: 1, 1: 1, 3: 3}
fib_dict: {0: 1, 1: 1}

3

In [43]:
fib_dict = {0:1, 1:1}

def fibonacci(n):
    if n in fib_dict:
        return fib_dict[n]
    else:
        fib_dict[n] = fibonacci(n-1) + fibonacci(n-2)
    
    return fibonacci(n-1) + fibonacci(n-2)

[fibonacci(x) for x in range(6)]

[1, 1, 2, 3, 5, 8]

In [48]:
def fibonacci_outer(n):
    fib_dict = {0:1, 1:1}
    print(f'created fib_dict: {fib_dict}')

    def fibonacci(n):
        if n in fib_dict:
            return fib_dict[n]
        else:
            fib_dict[n] = fibonacci(n-1) + fibonacci(n-2)

        return fibonacci(n-1) + fibonacci(n-2)
    
    return fibonacci(n)

fibonacci_outer(5)

created fib_dict: {0: 1, 1: 1}

8

In [55]:
class Fibonacci:
    def __init__(self):
        self.fib_dict = {0: 1, 1: 1}
    
    def fibonacci(self, n):
        if n in self.fib_dict:
            return self.fib_dict[n]
        else:
            self.fib_dict[n] = self.fibonacci(n-1) + self.fibonacci(n-2)

        return self.fibonacci(n-1) + self.fibonacci(n-2)

fib_obj = Fibonacci()  # create an instance (== object)
print(fib_obj.fibonacci(15))  # call a method of the class Fibonacci
print(fib_obj.fibonacci(5))

print(fib_obj.fib_dict)

987
8
{0: 1, 1: 1, 2: 2, 3: 3, 4: 5, 5: 8, 6: 13, 7: 21, 8: 34, 9: 55, 10: 89, 11: 144, 12: 233, 13: 377, 14: 610, 15: 987}

In [34]:
def fibonacci(n):
    # terminate recursion
    if n <= 1:
        return 1

    if fibonacci(n) in fib_dict:
        return fib_dict[n]
    else:
        fib_dict[n] = fibonacci(n-1) + fibonacci(n-2)
    
    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(3)

RecursionError: maximum recursion depth exceeded

In [36]:
d = {10: 'a', 20: 'b'}
n = 30
if n in d:
    print(f'd[{n}]: {d[n]}')
else:
    d[n] = 'c'
    print(f'added n:c to d: {d[n]}')
    
print(f'd after: {d}')

added n:c to d: c
d after: {10: 'a', 20: 'b', 30: 'c'}

In [22]:
def multiplication_table(n, nrows):
    for i in range(1, nrows):
        print(n, 'x', i, '=', n * i)

n = 7
nrows = 10
multiplication_table(n, nrows)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [21]:
n = int(input('enter a number for which to create multiplication table: '))
limit = int(input('enter the multiplication table limit: '))
for i in range(1, limit + 1):
    print(n, 'x', i, '=', n * i)

enter a number for which to create multiplication table: 7
enter the multiplication table limit: 9
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [23]:
multiplier = int(input('enter a number (as integer) for which to create multiplication table: '))
nrows = int(input('enter the number of rows (as integer) for the multiplication table: '))
for i in range(1, nrows):
    print(multiplier, 'x', i, '=', multiplier * i)

enter a number (as integer) for which to create multiplication table: 7
enter the number of rows (as integer) for the multiplication table: 10
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [46]:
# primes

def primes(n):
    primes_list = []
    for i in range(2, n):
        print(f'iterating i from 2 to n: {i}')
        if n % i == 0:
            print(i)
    # return primes_list

n = 26
primes(n)

iterating i from 2 to n: 2
2
iterating i from 2 to n: 3
iterating i from 2 to n: 4
iterating i from 2 to n: 5
iterating i from 2 to n: 6
iterating i from 2 to n: 7
iterating i from 2 to n: 8
iterating i from 2 to n: 9
iterating i from 2 to n: 10
iterating i from 2 to n: 11
iterating i from 2 to n: 12
iterating i from 2 to n: 13
13
iterating i from 2 to n: 14
iterating i from 2 to n: 15
iterating i from 2 to n: 16
iterating i from 2 to n: 17
iterating i from 2 to n: 18
iterating i from 2 to n: 19
iterating i from 2 to n: 20
iterating i from 2 to n: 21
iterating i from 2 to n: 22
iterating i from 2 to n: 23
iterating i from 2 to n: 24
iterating i from 2 to n: 25

In [59]:
# primes

def primes(n):
    primes_list = []
    for i in range(1, n+1):
        # print(f'iterating i from 2 to n: {i}')
        if n % i == 0:
            continue
        primes_list.append(i)
    return primes_list

n = 26
primes(n)

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [9]:
n = 26
primes = []
for number in range(1, n):
    # print(number)  # iterates over the numbers we want it to
    for i in range(2, number):
        if number % i == 0:  # not prime
            # print(f'number: {number}, i: {i}, number%i: {number % i}')
            continue
    primes.append(number)  # I'm here if all i's for the current number are prime

print(primes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [8]:
# solution: figure out why we were getting non-primes with one function algorithms

def is_prime(n):
    for i in range(2, n-1):
        if n % i == 0:
            return False
    return True

def primes(n):
    primes = []
    for i in range(1, n):
        if is_prime(i):
            primes.append(i)
    return primes

primes(26)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23]

In [58]:
a = complex(int(input('enter real part of a: ')), int(input('enter imaginary part of a: ')))
b = complex(int(input('enter real part of b: ')), int(input('enter imaginary part of b: ')))
tot = a + b
print(tot)

enter real part of a: 3
enter imaginary part of a: 5
enter real part of b: 7
enter imaginary part of b: 9
(10+14j)

In [2]:
a = 5
b = 7
print(f'a before: {a}, b before: {b}')

a = a + b
b = a - b
a = a - b
print(f'a after: {a}, b after: {b}')

a_string = 'abcd'
b_string = 'efgh'
print(f'a_string before: {a_string}, b_string before: {b_string}')

a_string = a_string + b_string
# b_string = a_string - b_string  # returns error
# a_string = a_string - b_string
# print(f'a_string after: {a_string}, b_string after: {b_string}')

alist = [5, 7]
blist = [6, 8]
print(f'alist before: {alist}, blist before: {blist}')

# alist = alist + blist
# blist = alist - blist
# alist = alist - blist
# print(f'alist after: {alist}, blist after: {blist}')

a before: 5, b before: 7
a after: 7, b after: 5
a_string before: abcd, b_string before: efgh
alist before: [5, 7], blist before: [6, 8]

In [63]:
alist = [5, 7]
blist = [6, 8]
alist, blist = blist, alist
print(alist, blist)

[6, 8] [5, 7]

In [65]:
print(5 == '5')
5 != '5'

False

True

In [1]:
n = 26
primes = [1, 2]

for i in range(3, n, 2):
    if n % i != 0:
        # check if i is divisible by any number in primes list
        result = n // i
        for iresult in primes:
            if result % iresult == 0:
                break
        # result is not divisible by any number in primes list
        primes.append(i)

print(f'primes: {primes}')

primes: [1, 2, 3, 5, 7, 9, 11, 15, 17, 19, 21, 23, 25]

In [7]:
n = 26
primes = [1, 2]

for i in range(3, n, 2):
    if n % i != 0:
        # check if i is divisible by any number in primes list
        result = n // i
        for iresult in primes[1:]:
            if result % iresult == 0:
                print(f'result: {result}, iresult: {iresult} result%iresult: {result % iresult}')
                break
        # result is not divisible by any number in primes list
        primes.append(i)

print(f'primes: {primes}')

result: 8, iresult: 2 result%iresult: 0
result: 3, iresult: 3 result%iresult: 0
result: 2, iresult: 2 result%iresult: 0
result: 2, iresult: 2 result%iresult: 0
primes: [1, 2, 3, 5, 7, 9, 11, 15, 17, 19, 21, 23, 25]

In [9]:
N = 26
primes = [1, 2]

for n in range(3, N):
    # check if n is prime
    n_prime = True
    for i in range(2, n):
        if n % i == 0:
            n_prime = False
            break
    
    if n_prime:
        primes.append(n)

print(f'primes: {primes}')

primes: [1, 2, 3, 5, 7, 11, 13, 17, 19, 23]

In [10]:
# primes from 1 to N another way

def find_primes(N):
    primes = [1, 2]

    for n in range(3, N):
        # check if n is prime
        n_prime = True
        for i in range(2, n):
            if n % i == 0:
                n_prime = False
                break

        if n_prime:
            primes.append(n)

    return primes

n = 28
primes = find_primes(n)
print(f'primes: {primes}')

primes: [1, 2, 3, 5, 7, 11, 13, 17, 19, 23]